################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Docs/
/packages/
/contestanonymizer/bin
/contestanonymizer/obj
/contestanonymizerUnitTest/bin
/contestanonymizerUnitTest/obj
